.Input {
  width: 550px;
  display: flex;
  justify-content: center;
}

.Input input {
  font-size: 32px;
  color: #1f4287;
  font-weight: bold;
  padding: 5px;
  outline: none;
  width: 100%;
  text-transform: lowercase;
}

.Input button {
  font-size: 48px;
  width: 300px;
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}

.Input button:hover {
  border: 2px solid green;
  background-color: green;
  color: #fff;
  font-weight: bold;
}

@media all and (max-width: 570px) {
  .Input input {
    width: 355px;
    font-size: 25px;
  }
}
