.GameOver {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  opacity: 1;
  z-index: 1200;
  display: flex;
  content: center;
  align-items: center;
  row-gap: 55px;
  opacity: 0.9;
  color: #fff;
  flex-direction: column;
}

.GameOver .game-over-word {
  color: rgb(255, 29, 29);
  text-shadow: 4px 4px 10px rgb(10, 10, 10);
  font-size: 130px;
}

.GameOver .message {
  color: rgb(255, 29, 29);
  text-shadow: 4px 4px 10px rgb(10, 10, 10);
  font-size: 32px;
}

.new-high-score {
  display: flex;
  font-size: 50px;
  column-gap: 12px;
}

.new-high-score span:nth-child(2) {
  color: rgb(40, 214, 40);
  font-weight: bold;
}

.GameOver button {
  padding: 7px;
  background-color: #21e6c1;
  color: #000;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  transition-property: all;
  transition-duration: 0.2s;
  border: none;
  width: 200px;
}

.GameOver button:hover {
  background-color: rgba(33, 230, 193, 0.8);
  font-weight: bold;
}

@media all and (max-width: 750px) {
  .words-containers {
    display: none;
  }

  .GameOver .game-over-word {
    font-size: 50px;
  }

  .GameOver .message {
    font-size: 18px;
  }
}
