.WordsContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 25px;
  padding-left: 50px;
  margin: 30px 0px;
}

.words {
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
}

.main-word {
  font-weight: bold;
  font-family: monospace;
  color: #fff;
}

.words > span {
  color: #1f4287;
}

.words > span,
.words > div {
  border-right: 1px solid #1f4287;
  padding: 5px;
}

.two-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.two-words > * {
  margin-bottom: 6px;
}

.correct-word {
  color: #1f4287;
}

.incorrect-word {
  color: red;
}

@media all and (max-width: 570px) {
  .WordsContainer {
    display: none;
  }
  hr {
    display: none;
  }
}
