@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  background-color: #278ea5;
  font-family: "Noto Sans JP", sans-serif;
}
